@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Animation de chargement */
@keyframes spin {
  to { transform: rotate(360deg); }
}

.loader {
  border-top-color: #4f46e5;
  animation: spin 1s ease-in-out infinite;
}
